.parent{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 250px);
        grid-template-rows: repeat(4, 350px);
        justify-content: center;padding: 50px;gap: 15px;
    }
    .child{
        border: 1px solid;
        border-radius: 15px;
        font-size: medium;
        background-color: rgb(189, 189, 184);
    }
    .child img{
        width: 90%;
        height: 60%;
        border-radius: 30%;
        margin-top: 20px;
        margin-left: 10px;
    }
    h2{
      margin-left: 10px;
      margin-top: 5px;  
    }
   .divv{
    margin-left: 10px;
   }